<section class="">
    <section class="container text-center">
        <div class="row">
            <div class="col">
                <h1>The Tech Blog</h1>
            </div>
        </div>
            <div class="card">
                <a class="btn card-block stretched-link text-decoration-none" id="openPostBtn"></a>
                <h5 class="card-header row mx-0">
                    <p class="col">{{ title }}</p>
                    <p class="col">{{ date_created }}</p>
                </h5>
                <div class="card-body">
                    <p class="card-text">{{ content }}</p>
                </div>
            </div>
            {{!-- {{#each comments}}
            <div class="card">
                <h5 class="card-header row mx-0">
                    <p class="col"></p>
                </h5>
                <div class="card-body">
                    <p class="card-text">{{ content }}</p>
                    <p class="card-text">{{ user_Id }}</p>
                    <p class="card-text">{{ date_created }}</p>
                </div>
            </div>
            {{/each}} --}}

        </div>
    </section>
</section>