<section class="">
    <section class="container text-center">
        <div class="row">
            <div class="col">
                <h1 class="my-4">The Tech Blog</h1>
            </div>
        </div>
            <div class="card my-2">
                <a class="btn card-block stretched-link text-decoration-none p-0 border border-0" id="openPostBtn"></a>
                <div class="card-header row d-flex align-items-center mx-0">
                    <h5 class="col mb-0 text-start">{{ post.title }}</h5>
                    <p class="col mb-0 text-end">Posted By: {{ post.user.username }} on: {{ dateFormat post.date_created }}</p>
                </div>
                <div class="card-body">
                    <p class="card-text text-start">{{ post.content }}</p>
                </div>
            </div>
            <h2 class="my-4">Comments</h2>
            {{#each comments}}
            <div class="card my-2">
                <h5 class="card-header row mx-0">
                    <p class="col"></p>
                </h5>
                <div class="card-body">
                    <p class="card-text text-start">{{ content }}</p>
                    <p class="card-text text-end">-{{ user.username }}, {{ dateFormat date_created }}</p>
                </div>
            </div>
            {{/each}}
            {{#if loggedIn }}
            <form class="form mb-3 mt-3">
                <label for="commentInput" class="form-label">Add Comment</label>
                <input type="text" class="form-control mb-3" id="commentInput" rows="3"></input>
                <button type="button" class="btn btn-primary" id="commentButton">Submit Comment</button>
            </form>
            {{/if}}
        </div>
    </section>
</section>

<script src="/js/comments.js"></script>