<section class="">
    <section class="container text-center">
        <div class="row">
            <div class="col">
                <h1>The Tech Blog</h1>
            </div>
        </div>
            <div class="card">
                <a class="btn card-block stretched-link text-decoration-none" id="openPostBtn"></a>
                <h5 class="card-header row mx-0">
                    <p class="col">{{ post.title }}</p>
                    <p class="col">{{ dateFormat post.date_created }}</p>
                    <p class="col">{{ post.user.username }}</p>
                </h5>
                <div class="card-body">
                    <p class="card-text">{{ post.content }}</p>
                </div>
            </div>
            {{#each comments}}
            <div class="card">
                <h5 class="card-header row mx-0">
                    <p class="col"></p>
                </h5>
                <div class="card-body">
                    <p class="card-text">{{ content }}</p>
                    <p class="card-text">{{ user.username }}</p>
                    <p class="card-text">{{ dateFormat date_created }}</p>
                </div>
            </div>
            {{/each}}
            <form class="form mb-3">
                <label for="commentInput" class="form-label">Comment</label>
                <input type="text" class="form-control" id="commentInput" rows="3"></input>
                <button type="button" class="btn btn-primary" id="commentButton">Submit Comment</button>
            </form>
        </div>
    </section>
</section>

<script src="/js/comments.js"></script>